<h1>Тест <%= @test.title %></h1>

<p>Уровень теста: <%= test_level(@test) %></p>
<p>Категория теста: <%= test_category(@test)%></p>
<p>Индикатор автора: <%= @test.author_id %></p>
<p>Количество вопросов: <%= @test.questions.length %></p>

<p>Вопросы: <%= render 'questions/list', test: @test %></p>

<p><%= link_to "Редактировать", edit_test_path(@test) %>
<%= link_to "Удалить", test_path(@test), :data => {:confirm => "Вы уверены?"}, :method => :delete %> <%= link_to 'Вернуться', tests_path %></p>
